@model Inspect.Market.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
}


<div class="row p-4 gap-2">
    <h2 style="margin: 0;">@ViewData["Title"]</h2>

    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="button primary">Register</button>
    </form>

    <a href="/Auth/Login">Already have an account?</a>
</div>
